body{

    background-color: DarkSlateGrey ;
    max-width: 420px;
    margin: auto;
}

h1{

    color: White;
    font-family: 'Verdana', sans-serif ;
}

h3{font-family: 'Verdana', sans-serif;
    color: White;
          }

p{font-family: 'Verdana', sans-serif;
color: White;
      }



.chart{
    width: 400px;
    border-width: 10px;
    background-color: White;
    border-style: solid;
    border-radius: 5px;
    border-color: White;
    margin: auto;
}

