body{

    background-color: DarkSlateGrey ;
    max-width: 400px;
    margin: auto;
}

table{
    font-family: 'Verdana', sans-serif;
    border-collapse: collapse;
    width: 400px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

tr:nth-child(odd) {
    background-color: White;
  }

h1{

    color: White;
    font-family: 'Verdana', sans-serif ;
}

h3{font-family: 'Verdana', sans-serif;
    color: White;
          }

p{font-family: 'Verdana', sans-serif;
color: White;
      }

a{font-family: 'Verdana', sans-serif;
color: White;
              }

.chart{
    width: 400px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;


}

